# Настройки агента печати штрихкодов (рядом с start_barcode_print_agent.bat)
# Если агент должен быть доступен с другого ПК: BARCODE_PRINT_AGENT_HOST=0.0.0.0
# BARCODE_PRINT_AGENT_PORT=18766
# BARCODE_PRINT_SUMATRA=C:\Program Files (x86)\SumatraPDF\SumatraPDF.exe
# BARCODE_PRINT_PRINTER=точное имя принтера из Windows
# BARCODE_PRINT_SETTINGS=noscale,portrait,disable-auto-rotation,paper=40mm x 30mm
