# Настройки агента печати штрихкодов (рядом с start_barcode_print_agent.bat)
# BARCODE_PRINT_SUMATRA=C:\Program Files (x86)\SumatraPDF\SumatraPDF.exe
# BARCODE_PRINT_PRINTER=точное имя принтера из Windows
# BARCODE_PRINT_SETTINGS=noscale,portrait,disable-auto-rotation,paper=40mm x 30mm
